@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
	color:#333;
	font-family:'Noto Sans Japanese',"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
input[type="button"],input[type="text"],input[type="submit"] {
 -webkit-appearance: none;
 border-radius: 0;
}
textarea {
  resize: vertical;
}
ul {
list-style-type:none;
}
.clearfix {
	overflow: hidden;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
a {
  text-decoration: none;
}
a:hover {
  opacity:0.7;
}
img{
	height:auto;
	border:0;
	vertical-align:top;
	margin:0;
}
@media(min-width:768px) {
.view_sp {
  display: none;
}
a[href^="tel:"] {
  pointer-events: none;
}
}
@media(max-width:767px) {
  body,html {
    width:100%;
  }
  img {
    width:100%;
  }
  .view_pc {
    display: none;
  }
}

/* --------------------------------
* header navigation
* -------------------------------- */
.header {
  width:100%;
}
.header__inner {
  margin: 0 auto;
  width: 100%;
  height: 95px;
  padding:0 0 0 20px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.clone-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300!important;
  width: 100%;
  transition: .3s;
  transform: translateY(-100%);
  background: #fff;
  height:95px;
}
.is-show {
  transform: translateY(0);
}
.logo h1 {
  width:300px;
  line-height: 0;
  margin-top:15px;
}
.logo a {
  display: block;
  color:#000;
  text-decoration: none;
}
.clone-nav .logo a {
  color:#000;
}
.logo .logo_txt {
  font-size:12px;
  line-height: 1.0em;
  margin-top:5px;
  letter-spacing: 0.1em;
}
.gNav {
  height: 95px;
  margin: 0 0 0 auto;
  width: 620px;
}
.gNav .tel_wrap {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  color:#000;
  height:45px;
  padding-top:8px;
  align-items: center;
  padding-right:20px;
  line-height: 1.0em;
}
.gNav .tel_wrap .txt01 {
  margin-right:7px;
  font-size:12px;
  letter-spacing: 0.1em;
}
.gNav ul {
  height:50px;
}
.gNav_list {
  display: flex;
  align-items: center;
  height: 60px;
}
.gNav_item {
  margin: 0 0 0 0;
}
.gNav_item a {
  text-decoration: none;
}

.gNav_item .gNav_link {
  text-align: center;
  width: 100%;
  font-size: 15px;
  text-align: center;
  height:50px;
  padding: 0;
  color: #000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gNav_item:hover .gNav_link {
  color: #000;

  opacity: 1;
}
.gNav_link {
   position: relative;
}
.gNav_link:hover {
  color:#0099D5!important;
}
.gNav_item:hover .gNav_link:hover {
  color:#0099D5;
  transition: .4s;
}
.gNav_link:after {
  position: absolute;
  bottom: 4px;
  left: 16%;
  content: '';
  width: 68%;
  height: 4px;
  background: #0099D5;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .4s;
}
.gNav_link:hover:after {
  transform: scale(1, 1);
}
.gNav_item_01 {
  width: 112px;
}
.gNav_item_02 {
  width: 161px;
}
.gNav_item_03 {
  width: 126px;
}
.gNav_item_04 {
  width: 113px;
}
.gNav_item_05 {
  width: 108px;
}
.header__inner .contact,.header__inner .contact a {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:200px;
  height:100%;
  text-align: center;
  opacity: 1;
  position: relative;
}
.header__inner .contact a {
  color: #fff;
  border:1px solid #0099D5;
  font-size:15px;
  line-height:1.6em;
  transition: .3s;
  background:#0099D5 url(../images/common/contact_white.png) left 30px top 50% no-repeat;
  background-size:20px;
  padding-left:30px;
}
.header__inner .contact a p.s {
  font-size:13px;
}
.header__inner .contact a:hover {
  background:#fff url(../images/common/contact_blue.png) left 30px top 50% no-repeat;
  background-size:20px;
  color: #0099D5;
  transition: .3s;
}
.header__inner .contact span {
  margin-right:8px;
  line-height: 0;
  width:20px;
}

.gNav_sub {
  background:rgba(38,42,45,0.8);
  width: 100%;
  height: 270px;
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
  z-index:2;
}
.gNav_item_03 .gNav_sub {
  height:450px;
}
.gNav_item_01:hover .gNav_sub,.gNav_item_02:hover .gNav_sub,.gNav_item_03:hover .gNav_sub,.gNav_item_04:hover .gNav_sub,.gNav_item_05:hover .gNav_sub {
  opacity: 1;
  visibility: visible;
}
.gNav_sub_inner {
  width: 1080px;
  margin: 60px auto 0;
  display: flex;
  display: -webkit-flex;
  z-index: 1;
  position: relative;
  justify-content: space-between;
}
.gNav_sub_inner .gNav_sub_ttl {
  font-size:24px;
  color:#fff;
  font-weight: 300;
  letter-spacing:0.2em;
}
.gNav_item_03 .gNav_sub_inner .gNav_sub_ttl {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.gNav_sub_inner .gNav_sub_list {
  width:780px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

.gNav_sub_inner .gNav_sub_list li {
  width:240px;
  height:150px;
  background: #fff;
  margin-left:30px;
}
.gNav_sub_inner .gNav_sub_list li:nth-of-type(1) {
  margin-left:0;
}
.gNav_item_03 .gNav_sub_inner .gNav_sub_list {
  flex-wrap: wrap;
  justify-content:space-between;
}
.gNav_item_03 .gNav_sub_inner .gNav_sub_list li {
  width:180px;
  margin-left:0;
}
.gNav_item_03 .gNav_sub_inner .gNav_sub_list li:nth-of-type(n+5) {
  margin-top:20px;
}

.gNav_sub_inner .gNav_sub_list li a {
  background: #fff;
  display: block;
}
.gNav_sub_inner .gNav_sub_list li a:hover {
  opacity: 0.8!important;
  display: block;
}
.gNav_sub_inner .gNav_sub_list li dd {
  background: #fff;
}
.gNav_sub_inner .gNav_sub_list li a dd {
  color:#333;
  text-decoration: none;
  display: flex;
  display: -webkit-flex;
  padding:5px 15px 5px 20px;
  font-size:15px;
  justify-content: space-between;
  align-items: center;
}
.gNav_item_03 .gNav_sub_ttl .product_sub_wrap {
  background: #fff;
  margin-top:40px;
}
.gNav_item_03 .gNav_sub_ttl dl {
  background: #fff;
}
.gNav_item_03 .gNav_sub_ttl .product_sub_wrap a {
  display: block;
  background: #fff;
}
.gNav_item_03 .gNav_sub_ttl .product_sub_wrap a:hover {
  opacity:0.8;
}
.gNav_item_03 .gNav_sub_ttl a:hover dl {
  background: #fff;
}
.gNav_item_03 .gNav_sub_ttl a dd {
  color:#333;
  background: #fff;
  text-decoration: none;
  display: flex;
  display: -webkit-flex;
  padding:5px 15px 5px 20px;
  font-size:15px;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0;
}
.gNav_item_03 .gNav_sub_ttl a dd .y {
  width:17px;
  line-height: 0;
}
.gNav_item_03 .gNav_sub_ttl a dd .y img {
  width:17px;
}
.gNav_item_03 .gNav_sub_inner .gNav_sub_list a dd {
  font-size:14px;
  padding:5px 8px 5px 10px;
}
.gNav_item_01 .gNav_sub_list li:nth-of-type(3) a dd {
  font-size:14px;
  padding:5px 17px 5px 15px;
}
.gNav_sub_inner .gNav_sub_list li dd .y {
  width:17px;
  line-height: 0;
}
.gNav_sub_inner .gNav_sub_list li dd .y img {
  width:17px;
}
.clone-nav .gNav_item .gNav_link {
  color:#000;
}
.clone-nav .gNav .tel_wrap {
  color:#000;
}
.gNav_item:hover .gNav_link {
  color:#0099D5;
}
.clone-nav .gNav_item .gNav_link {
  color:#333!important;
}
.clone-nav .gNav_item:hover .gNav_link {
  color:#0099D5!important;
}
.pt45 {
  padding-top:45px;
}
.ih {
  text-align: center;
}
.ih img {
  width:24px;
}
h3.ttl01 {
  text-align: center;
  font-size:36px;
  font-weight: normal;
  padding-top:15px;
  letter-spacing:0.15em;
  line-height:1.1em;
}
h3.txtw {
  color: #fff;
}

.h3_stxt {
  font-size: 16px;
  color:#fff;
  letter-spacing: 0.07em;
  line-height: 1.2em;
  margin-bottom:15px;
}
@media(max-width:1079px) and (min-width:767px) {
  h3.ttl01 {
    font-size:calc( 36/1080*100vw );
  }
  .h3_stxt {
    font-size: 15px;
  }
}
.btn01 {
  width:300px;
  margin:0 auto;
}
.btn01 a {
  display: block;
  position: relative;
  transition: .4s;
  color:#fff;
  line-height:1.1em;
  padding:20px 0;
  text-align: center;
  font-size:14px;
  letter-spacing: 0.1em;
  opacity: 1;
  background: #0099D5 url(../images/common/yj01_off.png) right 7% top 49% no-repeat;
  background-size:6%;
  border:1px solid #0099D5;
}
.btn01 a:hover {
  background: #fff url(../images/common/yj01_on.png) right 7% top 49% no-repeat;
  background-size:6%;
  color:#0099D5;
}
.foot_contact {
  background: url(../images/common/footer_bg_p.jpg) center center no-repeat;
  background-size: cover;
  padding:60px 0;
}
.foot_contact .txt01 {
  font-size:16px;
  text-align: center;
  margin-top:15px;
  letter-spacing:0.1em;
}
.foot_contact .contact_btn_wrap {
  max-width:800px;
  margin:50px auto 0;
  display:flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.foot_contact .contact_btn_wrap li {
  width:340px;
  height:68px;
  background: #0099D5;
  border:1px solid #0099D5;
  text-align: center;
  color:#fff;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  line-height:1.0em;
}
.foot_contact .contact_btn_wrap li span.num {
  padding-left:30px;
  font-size:28px;
  font-weight: 600;
  font-family: "Rajdhani",'Noto Sans Japanese',"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 0.1em;
  vertical-align: middle;
}
.foot_contact .contact_btn_wrap li span.stxt {
  font-size:14px;
  font-weight: bold;
  vertical-align: middle;
}
.foot_contact .contact_btn_wrap li:nth-of-type(1) {
  background: #0099D5 url(../images/common/foot_tel.png) left 30px top 50% no-repeat;
  background-size:20px;
}
.foot_contact .contact_btn_wrap li:nth-of-type(1) a {
  color:#fff;
  opacity: 1;
}
.foot_contact .contact_btn_wrap li:nth-of-type(2) a {
  display: flex;
  display:-webkit-flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  color:#fff;
  text-decoration: none;
  font-weight: bold;
  font-size:18px;
  letter-spacing:0.07em;
  background: #0099D5 url(../images/common/contact_white.png) left 50px top 50% no-repeat;
  background-size:28px;
  opacity: 1.0;
  transition: .2s;
}
.foot_contact .contact_btn_wrap li:nth-of-type(2) a span.txt {
  padding-left:35px;
  display: inline-block;
}
.foot_contact .contact_btn_wrap li:nth-of-type(2) a:hover {
  color:#0099D5;
  background: #fff url(../images/common/contact_blue.png) left 50px top 50% no-repeat;
  background-size:28px;
  transition: .2s;
}
.sub_detail_bg01 {
  background:-moz-linear-gradient(left, #c0dd94, #a4d4f5);
  background:-webkit-linear-gradient(left, #c0dd94, #a4d4f5);
  background:linear-gradient(to right, #c0dd94, #a4d4f5);
  padding:45px 0;
}
@media(max-width:820px) {
.foot_contact .contact_btn_wrap {
  margin: 30px auto 0;
  padding:0 3%;
}
}
.foot_btm {
  background: #272727;
  padding:60px 0 20px 0;
}
.foot_nav {
  max-width:970px;
  margin:0 auto;
  display: flex;
  display:-webkit-flex;
  justify-content:space-between;
  font-size:14px;
}
.foot_nav li,.foot_nav li a {
  color:#ade7ff;
  line-height:1.85em;
  opacity: 1;
}
.foot_nav li a:hover {
  text-decoration: underline;
}
.foot_nav .list > ul > li,.foot_nav .list > ul > li > a {
  color:#fff;
}
.foot_nav .list > ul > li > ul > li > ul {
  padding-left:10px;
}
.foot_nav .list > ul > li > ul:not(:nth-of-type(1)) {
  margin-top:27px;
}
.foot_nav .list:not(:last-child) > ul > li:not(:nth-of-type(1)) {
  margin-top:27px;
}
.foot_btm h1 {
  margin:80px auto 0;
  width:300px;
  line-height: 0;
}
.foot_btm h1 img {
  width:100%;
}
.foot_btm .foot_ttl_txt {
  color:#fff;
  text-align: center;
  font-size:14px;
  line-height:1.2em;
  margin-top:20px;
  letter-spacing: 0.15em;
}
.foot_btm .copyright {
  text-align: center;
  color:#fff;
  margin-top:40px;
  line-height: 1.1em;
  font-size:12px;
  font-family:"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.bef {
  opacity: 0;
  transform: translateY(40px);
}
.move_fade {
  opacity: 1 !important;
  transition: 0.6s;
  transform: translateY(0) !important;
}
.pankuzu {
  font-size:14px;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:20px;
  display: flex;
  display:-webkit-flex;
  flex-wrap: wrap;
  line-height:1.3em;
  letter-spacing: 0.05em;
}
.pankuzu_bg {
  background: #e7e7e7;
}
.pankuzu_w {
  color:#fff;
}
.pankuzu li:nth-of-type(1) {
  padding-left:0;
  width:19px;
}
.pankuzu li:nth-of-type(1) img {
  line-height: 0;
  vertical-align: top;
  margin-top:1px;
  width:14px;
  height:14px;
}
.pankuzu li {
  padding-right:5px;
  padding-left:15px;
  line-height:1.2em;
  position: relative;
}
.pankuzu li:nth-child(n+2) {
  padding-right: 2px;
}
.pankuzu li a {
  text-decoration: none;
  color:#333;
  opacity:1;
}
.pankuzu li a:hover {
  text-decoration: underline;
}
.pankuzu_w li a {
  color:#fff;
  opacity: 1;
}
.pankuzu li:not(:first-child):before {
  content:"";
  position: absolute;
  bottom:7px;
  left:-2px;
  height:1px;
  width:15px;
  border-top:1px solid #333;
  transform:rotate(110deg);
}
.pankuzu_w li:not(:first-child):before {
  border-top:1px solid #fff;
}
.sub_page_txt01 {
  line-height:1.7em;
  font-size:16px;
  letter-spacing: 0.1em;
}
@media(max-width:1000px) {
  .foot_nav {
    padding-left:2%;
    padding-right:2%;
    font-size:13px;
  }
}


@media(min-width:1080px) {
  .view_m {
    display: none!important;
  }
}
@media(max-width:1079px) {
  .view_bm {
    display: none!important;
  }
  .navi_head_mlist li a {
    font-size:17px;
    text-align: center;
    display: block;
    color:#fff;
    text-decoration: none;
    padding:12px 0;
    border-bottom:1px solid #fff;
    opacity: 1;
  }
  .navi_head_mlist li:nth-of-type(1) a {
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
  }
  .accordionlist {
  	width: 100%;
    border-bottom:1px solid #fff;
  }
  .navi_head_mlist li:nth-of-type(1) .accordionlist {
    border-bottom:none;
  }
  .accordionlist .ttl {
      display:block;
      text-align: center;
      color:#fff;
      padding: 0 0;
      cursor: pointer;
      font-size:17px;
  }
  .navi_head_mlist li:nth-of-type(3) .accordionlist .ttl,.navi_head_mlist li:nth-of-type(4) .accordionlist .ttl,.navi_head_mlist li:nth-of-type(5) .accordionlist .ttl {
    border-top:none;
  }
  .accordionlist .ttl {
    position: relative;
    padding:12px 0;
    cursor: pointer;
  }
  .accordionlist .acc_content {
    display:none;
  }
.accordionlist .acc_content p {
  text-align: center;
  color:#a4d4f5;
}
  .accordionlist .acc_content a {
    text-decoration: none;
    color:#a4d4f5;
    display: block;
    font-size:16px!important;
    padding:10px 0;
    line-height: 1.3em;
    border-bottom:none;
  }
.accordionlist .acc_content a.ttl {
  font-size:17px!important;
}
  .accordionlist .acc_content p:nth-last-child(1) a {
    padding-bottom:17px;
  }
  .accordion_icon,
  .accordion_icon span {
  	display: inline-block;
  	transition: all .4s;
  	box-sizing: border-box;
  }
  .accordion_icon {
  	position: absolute;
  	width: 20px;
  	height: 20px;
    top: 50%;
    right: 4.2%;
    margin-top:-8px;
  }
  .accordion_icon span {
  	position: absolute;
    left: 0;
    width: 100%;
  	height: 2px;
    background-color: #fff;
  	border-radius: 4px;
  	-webkit-border-radius: 4px;
  	-ms-border-radius: 4px;
  	-moz-border-radius: 4px;
  	-o-border-radius: 4px;
  }
  .accordion_icon span:nth-of-type(1) {
      top: 5px;
  	transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
  }
  .accordion_icon span:nth-of-type(2) {
      top: 5px;
  	transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
  	-moz-transform: rotate(90deg);
  	-ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
  }
  .accordion_icon.active span:nth-of-type(1) {
  	display:none;
  }
  .accordion_icon.active span:nth-of-type(2) {
  	top: 5px;
  	transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  	-moz-transform: rotate(180deg);
  	-ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  .head_navi_contact {
    width:200px;
    margin:30px auto 20px;
  }
  .head_navi_contact a {
    background: #0099D5 url(../images/common/contact_white.png) left 25px top 50% no-repeat;
    background-size: 18px;
    color:#fff;
    display: block;
    font-size:17px;
    text-align: center;
    padding:13px 0;
    line-height: 1.3em;
    opacity: 1;
    }
    .head_navi_contact a .s {
      font-size:15px;
    }
  .head_navi_contact a {
    padding-left:10%;
  }
  .head_prv {
    text-align: center;
  }
  .head_prv a {
    font-size:15px;
    line-height:1.4em;
    display: inline-block;
    padding-bottom:5px;
    color:#fff;
    border-bottom:1px solid #fff;
  }
}

@media(max-width:1270px) and (min-width:1080px) {
  .gNav {
    width:calc( 100% - 550px );
  }
  .gNav_item_01 {
    width: 23%;
  }
  .gNav_item_02 {
    width: 25%;
  }
  .gNav_item_03 {
    width: 18%;
  }
  .gNav_item_04 {
    width: 17%;
  }
  .gNav_item_05 {
    width: 17%;
  }
  .header__inner .contact,.header__inner .contact a {
    width:150px;
  }
  .header__inner .contact a {
    background:#0099D5 url(../images/common/contact_white.png) left 15px top 50% no-repeat;
    background-size:20px;
    padding-left:25px;
  }
  .header__inner .contact a:hover {
    background:#fff url(../images/common/contact_blue.png) left 15px top 50% no-repeat;
    background-size:20px;
  }
}

@media(max-width:1079px) {
  /*ハンバーガー*/
header {
  padding-left:2%;
  padding-right:3%;
}
header h1 {
  line-height:0;
}
  header img {
    max-width: 100%;
  }
  .head_t_s {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width:100%;
    height:50px;
  }
  header .logo {
  width: 240px;
  line-height: 0;
  padding-top:7px;
  }
  header .logo h1 {
    width:100%;
    margin-top:7px;
    padding-left:10px;
  }
 header .logo img {
   width:100%;
 }
 header .s_contact {
   position: absolute;
   z-index:10;
   width:24px;
   right:calc( 3% + 61px );
   line-height: 0;
   top:19px;
 }
  header .rwrap {
    width: 32px;
    height:50px;
    padding-top: 0;
    position: absolute;
    z-index:10;
    top:0;
    right:3%;
  }
  header .spMenu {
    display: inline-block;
    width: 32px;
    height:40px;
    position: absolute;
    top: 0px;
    right: 3%;
    cursor: pointer;
    z-index:100000000000;
  }
  header .spMenu p {
    line-height:0;
    margin-bottom:5px;
  }
  header .spMenu span {
   width: 28px;
   height: 3px;
   margin-bottom: 7px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   background-color: #000;
   transition: .5s;
   position: absolute;
  }
  header .spMenu span:nth-of-type(1) {
      top: 14px;
    }
  header .spMenu span:nth-of-type(2) {
      top: 24px;
      left:-3px;
    }
  header .spMenu span:nth-of-type(3) {
      top: 34px;
      left:-6px;
    }
  header .spMenu.on {
    width:0;
    height:0;
  }
  header .spMenu.on span:nth-of-type(1) {
      transform: rotate(-45deg);
      position: absolute;
      top: 20px;
      width:30px;
      background: #ddb050;
      display: none;
    }
  header .spMenu.on span:nth-of-type(2) {
      display: none;
    }
  header .spMenu.on span:nth-of-type(3) {
      transform: rotate(45deg);
      position: absolute;
      top: 20px;
      width:30px;
      background: #fff;
      display: none;
    }
  header .spMenu.on span:nth-child(3):before {
    display:none;
}
  .head_t_s nav {
   display: none;
  }
  .head_t_s nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    width: 100%;
    background:rgba(38,42,45,0.8);
    z-index: 99999;
    padding-top: 60px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
  body.fixed {
    overflow: hidden;
}
  .navi_head {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    position: fixed;
    left:0;
    top:0;
    padding-left:2%;
    padding-right:3%;
    padding-top:5px;
    padding-bottom:5px;
    width:100%;
    z-index:3;
    background:rgba(38,42,45,0.7);
  }
  .navi_head .logo_m {
    width: 200px;
    line-height: 0;
    padding-top:7px;
  }
  .navi_head .rwrap_m{
    width: 32px;
    height:50px;
    padding-top: 0;
  }
.spMenu2.on span:nth-of-type(1) {
    transform: rotate(-45deg);
    position: absolute;
    top: 17px;
    left:4px;
    width: 30px;
    background: #fff;
  }
.spMenu2.on span:nth-of-type(2) {
      display: none;
  }
.spMenu2.on span:nth-of-type(3) {
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    left:4px;
    width: 30px;
    background: #fff;
  }
  .spMenu2.on {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 4%;
    cursor: pointer;
    z-index: 1000000000001;
    border:1px solid #fff;
  }
  .spMenu2 span {
   width: 32px;
   height: 3px;
   margin-bottom: 7px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   background-color: #000;
   transition: .5s;
   position: absolute;
  }
  .clone-nav {
    height:50px;
  }
}
@media(max-width:767px) {
  h3.ttl01 {
    text-align: center;
    font-size:calc(40/750*100vw);
    font-weight: normal;
    padding-top:3%;
    line-height:1.1em;
  }

  .ih {
    text-align: center;
  }
  .ih img {
    width:6%;
  }
  .pt45 {
    padding-top: 7%;
  }
  .pd {
    padding-left:3%;
    padding-right:3%;
  }
  .btn01 {
    width:70%;
  }
  .btn01 a {
    padding:7% 0;
    font-size:calc( 30/750*100vw );
  }
  .foot_contact {
    background: url(../images/common/footer_bg_p.jpg) center center no-repeat;
    background-size: cover;
    padding:8% 0;
    margin-top:0;
  }
  .foot_contact .txt01 {
    font-size: calc( 27/767*100vw );
    letter-spacing: 0.1em;
    margin-top: 3%;
    line-height: 1.5em;
    text-align: center;
  }
  .foot_contact .contact_btn_wrap {
    width:78%;
    margin:7% auto 0;
    display:flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
  }
  .foot_contact .contact_btn_wrap li {
    width:100%;
    height:auto;
    background: #0099D5;
    border:1px solid #0099D5;
    text-align: center;
    color:#fff;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    line-height:1.0em;
  }

  .foot_contact .contact_btn_wrap li:nth-of-type(1) {
    background: #0099D5 url(../images/common/foot_tel.png) left 11% top 50% no-repeat;
    background-size:6%;
  }
  .foot_contact .contact_btn_wrap li:nth-of-type(1) a {
    display: block;
    width:100%;
    padding:7.9% 0;
  }
  .foot_contact .contact_btn_wrap li:nth-of-type(2) {
    margin-top:8%;
  }
  .foot_contact .contact_btn_wrap li:nth-of-type(2) a {
    display: block;
    color:#fff;
    padding:8.3% 0;
    font-size:calc( 30/750*100vw );
    letter-spacing:0.07em;
    background: #0099D5 url(../images/common/contact_white.png) left 12% top 50% no-repeat;
    background-size:8%;
  }

  .foot_contact .contact_btn_wrap li a span.num {
    padding-left:12%;
    font-size:calc( 45/750*100vw );
    letter-spacing: 0.05em;
    font-weight: 600;
    margin:0;
    font-family: "Rajdhani",'Noto Sans Japanese',"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif!important;
  }
  .foot_contact .contact_btn_wrap li a span.stxt {
    font-size:calc( 21/750*100vw );
    margin:0;
  }
  .foot_contact .contact_btn_wrap li:nth-of-type(2) a:hover {
    color:#fff;
    background: #0099D5 url(../images/common/contact_white.png) left 12% top 50% no-repeat;
    background-size:8%;
  }
  .foot_contact .contact_btn_wrap li:nth-of-type(2) a span.txt {
    padding-left:9%;
  }

  .foot_btm {
    background: #272727;
    padding:7% 4% 5% 4%;
  }
  .foot_nav {
    max-width:100%;
    margin:0 auto;
    display: flex;
    display:-webkit-flex;
    flex-wrap: wrap;
    justify-content:space-between;
    font-size:calc( 21/750*100vw );
  }
  .foot_nav .list:nth-of-type(2n+1) {
    width:55%;
  }
  .foot_nav .list:nth-of-type(2n+2) {
    width:45%;
  }
  .foot_nav .list > ul > li,.foot_nav .list > ul > li > a {
    color:#fff;
  }
  .foot_nav .list > ul > li > ul > li > ul {
    padding-left:3%;
  }
  .foot_nav .list > ul > li > ul:not(:nth-of-type(1)) {
    margin-top:7%;
  }
  .foot_nav .list:not(:last-child) > ul > li:not(:nth-of-type(1)) {
    margin-top:7%;
  }
  .foot_nav .list:nth-of-type(n+3) {
    margin-top:7%;
  }
  .foot_btm h1 {
    margin:17% auto 0;
    width:70%;
    line-height: 0;
  }
  .foot_btm .foot_ttl_txt {
    color:#fff;
    text-align: center;
    font-size:calc( 21/750*100vw );
    line-height:1.2em;
    margin-top:3%;
    letter-spacing: 0.15em;
  }
  .foot_btm .copyright {
    margin-top:10%;
    line-height: 1.1em;
    font-size:calc( 18/750*100vw );
  }
  .pankuzu {
    font-size:13px;
  }
  .pankuzu li:nth-of-type(1) {
    width:17px;
  }
  .pankuzu li:nth-of-type(1) img {
    margin-top:1px;
  }
  .h3_stxt {
    font-size:14px;
  }
 .sub_detail_bg01  {
   padding:8% 0;
 }
 .sub_page_txt01 {
   font-size: calc(27/750*100vw);
   text-align: center;
   line-height: 1.7em;
   letter-spacing: 0.1em;
 }
}
@media(max-width:320px) {
  .foot_btm {
    padding:7% 3% 3% 3%;
  }
  header .logo {
  width: 210px;
  line-height: 0;
  padding-top:7px;
  }
  header .logo h1 {
    width:100%;
    margin-top:5px;
    padding-left:5px;
  }
  header .s_contact {
    position: absolute;
    z-index:10;
    width:24px;
    right:calc( 3% + 55px );
    line-height: 0;
    top:19px;
  }
}